*{
  font-family: 'Roboto', sans-serif;
  }

  /* Navbar */
.heart {
  max-width: fit-content;
}
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:darkgrey;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 60vh;
  }
  .active {
    color:black ;
  }

  /*Article01*/
  .principal{
    display:flex;
    justify-content: space-between;
  }
  .principal .text{
    display: flex;
    flex-direction: column;
  }

  .principal .text h1 {
    font-size:100px;
    font-weight: bold;
    margin: 15px;
  }
  .principal .text p {
    font-size: 30px;    
    margin: 15px;
    color:black;
  }
  .principal img {
    width:66%;
  }
 
  /*Buttons*/
  .buttons {
    display:flex;
    justify-content: space-around;
  }
  .but1,
  .but2
  {
    display: flex;
    padding: 15px 25px;
    border-radius: 45px;    
    border: none;
    font-size: 25px;
  }
  .but1{
    background: black;
    color: white;
  }
  .but2{
    background: #a095c9;
    color: white;
  }

  /* 3 art */

  .articles {
    display:flex;
    justify-content:space-around;
  }
  .aimg{
    display:flex;
    max-width: 60%;
  }
  .text {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .text h1 {
    font-size: 24px;
  }
  .text p {
    color:darkgrey;
    font-size: 18px;
  }

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.fimg {
    display: flex;    
    width: 25%;
    justify-content: space-around;
}
.ftext {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.rrss{
    height: 25px;
}

